name: RUN GENZ

on:
  workflow_dispatch:

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.generate.outputs.matrix }}
    steps:
      - name: Checkout private tools
        uses: actions/checkout@v4
        with:
          repository: john4650-hub/Hello-Android-CI
          token: ${{ secrets.TK }}
      - name: set_up mega and get image prompts
        run: |
          ./scripts/mega_nz.sh
          mega-get /Content/prompts.json ./

      - name: Move files to root and generate Matrix
        id: generate
        run: |
          cp -r json_files/* .
          prompts_count=$(jq 'keys | length' ./prompts.json)
          MATRIX=$(seq 0 $prompts_count | jq -c '[inputs]')
          echo "::set-output name=matrix::$MATRIX"

  proccess-json-data:
    needs: generate-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        chunk_id: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: john4650-hub/Hello-Android-CI
          token: ${{ secrets.TK }}

      - uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 5
          shell: bash
          command: ls


      - name: install ffmpeg
        uses: animMouse/setup-ffmpeg@v1

      - name: install deps and start comfyui server
        run: ./scripts/comfyui-api.sh 1

      - name: set_up mega and get image prompts
        run: |
          ./scripts/mega_nz.sh
          mega-get /Content/prompts.json ./

      - name: Generate files using GPU from API call
        run: |
          python scripts/pyScripts/automateImageGen.py ${{ matrix.chunk_id }}
